{% extends 'layout.html' %}
{% block body %}
<h3> About me</h3>
<hr>Hello everyone. I'm Kerem Big. I am studying at Ostim Technical University in 1st year and I am trying very hard to improve myself. The purpose of this site is to add something to myself and try to improve myself in the flask framework.
<hr>
<a href = "https://github.com/Keremm1" target = "_blank">My Github Account</a>
<hr>
<a href = "https://www.upwork.com/freelancers/~01303bc86c844f4bbf" target = "_blank">My WorkUp Account</a>
<hr>
<a href = "https://www.linkedin.com/in/kerem-b%C3%B6y%C3%BCk-147890247/" target = "_blank">My Linedkln Account</a>
<hr>
{% endblock body %}
