{% extends 'layout.html' %}
{% block body %}
{% if article %}
<h4>{{article.title}}</h4>
<hr>
Yazar : {{article.author}}
<hr>
Tarih : {{article.created_date}}
<hr>
{{article.content|safe}} <!--Burada flask jinaj'dan gelen bir özellik ile safe filter name'si (flaskta böyle bahsediliyor) ile html olarak gelen dosyayı html kodu olarak göndererek görüntülenmesini sağlayabiliriz-->
{% else %}
<div class = "alert alert-warning">Böyle Bir Makale Bulunmuyor...</div>
{% endif %}

{% endblock  %}