{% extends 'layout.html' %}


{% block body %}

<h3>Makaleler</h3>
<hr>
{% if articles %} <!--articles var mı yok mu kontrolü-->
<form action="/search" method = "post">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
        </div>
        <!--end of col-->
        <div class="col">
            <input name = "keyword" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Ara">
        </div>
        <!--end of col-->
        <div class="col-auto">
            <button class="btn btn-lg btn-warning" type="submit">Search</button>
        </div>
        <!--end of col-->
    </div>
</form>
<hr>
<ul class="list-group">
    {% for article in articles  %}
    <li class= "list-group-item"><a href="article/{{article.Id}}">{{article.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
<div class = "alert alert-danger">Bu blokta henüz makale bulunmuyor!</div> <!--flash mesajı kullanmadan alert mesajı bastık-->
{% endif %}
{% endblock body %}