{% extends 'layout.html' %}
{% block body %}
<div class ="jumbotron text-center">
    <h3>Welcome to my website</h3>
    <p>As developers of this blog you can share your blog posts and help people.</p>
</div>

<ul>
    {% for number in numbers  %}
    <li>
        {{number}}
    </li>
    {% endfor %}
</ul>
<ul>
    {% for article in articles  %}
    
        <li>Article ID : {{article.id}} - Title : {{article.title}} Article Content : {{article.content}}</li>
    
    {% endfor %} 
</ul>
{% endblock body %}
